MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/blackjack
PORT=3000
NODE_ENV=development
DOMAIN_NAME=blackjack-crypto.onrender.com

SHKEEPER_URL=https://<shkeeper-domain>
SHKEEPER_API_KEY=<shkeeper-api-key>